<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootswatch CSS for colorful alerts and buttons -->
	<!-- https://bootswatch.com/journal/ -->
	<link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
	<!-- Font Awesome Free Kit -->
	<!-- https://fontawesome.com/kits -->
	<script src="https://kit.fontawesome.com/aca0cfda8f.js" crossorigin="anonymous"></script>
	<title>Node.js & Passport App</title>
</head>
<body>
	<div class="container">
		<!-- EJS container that outputs views to be displayed -->
		<!-- https://ejs.co -->
		<!-- "-" Outputs the unescaped value into the template -->
		<%- body %>
	</div>

	<!-- Bootstrap JS -->
	<!-- https://getbootstrap.com/docs/4.5/getting-started/introduction/ -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>