<!-- This is what we want to render for the index page. -->
<!-- This is boilerplate template from -->
<!-- https://github.com/bradtraversy/node_passport_login/blob/master/views/welcome.ejs -->
<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body text-center">
			<!-- Use Font Awesome Node JS logo -->
			<h1><i class="fab fa-node-js fa-3x"></i></h1> 
			
			<p>Create an account or login</p>
			<a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
			<a href="/users/login" class="btn btn-secondary btn-block">Login</a>
		</div>
	</div>
</div>

<!-- The classes are bootstrap classes for positioning and alignment -->
